@mixin juzhong {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin juzuo {
  display: flex;
  justify-content: left;
  align-items: center;
}
@mixin juyou {
  display: flex;
  justify-content: right;
  align-items: center;
}