.noTabPageContent {
    background: #f5f5f9;

    width: 100%;
    height: 100%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    .tabWrap {
        width: 100%;
        height: auto;
        background: #fff;
        z-index: 10;
        .am-tabs {
            box-sizing: border-box;
            display: flex;
            position: relative;
            overflow: scroll;
            height: 100%;
            width: 100%;

            flex-wrap: nowrap;
            .am-tabs-tab-bar-wrap {
                padding: 0.1rem 0.2rem;
                flex-shrink: 0;
            }
        }
    }
    .categoryBox {
        flex: 1;
        overflow: auto;

        .categoryDetail {
            padding: 0.1rem 0;
            background: #f5f5f9;
            .boss {
                width: 100%;
                height: 100%;
                > div {
                    height: 0.3rem;
                    line-height: 0.3rem;
                    text-align: center;
                }
                > div:nth-child(2) {
                    color: gray;
                    height: 0.25rem;
                    line-height: 0.25rem;
                    font-size: 0.14rem;
                }
            }
        }
        .goodsList {
            width: auto;
            height: auto;
            display: flex;
            flex-wrap: wrap;
            .goodsItem {
                width: 50%;
                height: auto;
                background: white;
                padding: 0.1rem;
                position: relative;
            }
        }
    }
}
.active {
    color: #108ee9;
    border-bottom: 2px solid #108ee9;
}
