.footer {
    width: 100%;
    height: 0.5rem;
    display: flex;
    background-color: #fff;
    .router-link-active span,.router-link-active i{
        color: #2196f3 !important;
    }
    i{
        width: 16px;
        height: 16px;
    }
    a {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    img {
        width: 16px;
        height: 16px;
    }
    span {
        font-size: 0.12rem;
        margin-top: 0.05rem;
    }
}
